@model Book

<tr>
    <td scope="row" class="font-italic">@Model.Title</td>
    <td scope="row">@Model.AuthorFirstName @Model.AuthorMiddleName @Model.AuthorSurname</td>
    <td scope="row">@Model.Publisher</td>
    <td scope="row">@Model.Classification, @Model.Category</td>
    <td scope="row">$@Model.Price</td>
    <td scope="row">@Model.PageCount</td>
    <td scope="row">@Model.ISBN</td>
    <td scope="row" class="align-middle">
        <form id="@Model.BookId" asp-page="/Buy" method="post">
            <input type="hidden" asp-for="BookId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                <button type="submit" class="btn-sm btn-outline-primary" style="float:right">
                    Purchase
                </button>
            </span>
        </form>
    </td>
</tr>
